<body class="text-center login-page">
<%= form_with(url: login_path, class: 'form-signin') do |f| %>
  <%= image_tag 'logo.png', class: 'mb-4', alt: 'Logo', height: '72' %>

  <%= render 'shared/alert' %>

  <div class="form-group">
<!--    <small class="text-muted">Login with your Qiscus Multichannel credential</small>-->
  </div>

  <div class="form-group">
    <label for="inputEmail" class="sr-only mb-2">Username</label>
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username', required: true, autofocus: true %>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: true %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block' %>
  </div>
  <%= link_to 'New User?', register_url %>

<% end %>

</body>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>