<%= form_with(model: url) do |form| %>
  <% if url.errors.any? %>
    <div id="error_explanation">
      <div class="bd-callout bd-callout-info">
        <p><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</p>
      </div>
      
      <div class="alert alert-danger">
        <ul>
          <% url.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :origin %>
    <%= form.text_field :origin, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class:"form-control" %>
  </div>

  <div class="form-group">
    <%=  form.submit 'Submit', :class => 'btn btn-primary'%>
  </div>
<% end %>
