<p id="notice"><%= notice %></p>

<h1>Urls</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Origin</th>
      <th scope="col">Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.origin %></td>
        <td><%= url.code %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
