<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @url.origin %>
</p>

<p>
  <strong>Code:</strong>
  <%= @url.code %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
