<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Origin</th>
  </tr>
  </thead>

  <tbody>
  <% @user.each do |url| %>
    <tr>
      <td><%= url.username %></td>
<!--      <td><%#= link_to 'Show', url %></td>-->
<!--      <td><%#= link_to 'Edit', edit_url_path(url) %></td>-->
<!--      <td><%#= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>