<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
    <%= raw(flash[:notice]) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
    <%= raw(flash[:alert]) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:error] %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= flash[:error] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<% if flash[:success] %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= flash[:success] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>