<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-4 bg-white border-bottom">
  <h5 class="my-0 mr-md-auto font-weight-normal">Shorten URL</h5>
  
  <%=  button_to 'Sign out', logout_path, method: :delete, class: 'btn btn-outline-primary' %>
</div>