<nav class="nav flex-column">
  <%= link_to "Shorten", urls_path, class:"nav-link active" %>
  <%= link_to "Users", users_path, class: "nav-link" %>
  <a class="nav-link" href="#">Other</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>